
.list-item{
    padding: .5rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 5px;
}
.list-group{
    list-style: none;
}
.single-developer{
    margin-right: 10%;
    margin-left: 10%;
}