* {
    margin: 0;
    padding: 0;
}

.divForm {
    text-align: center;
 margin:auto 0;
    padding: 1.5rem;
    
    
    
    
}
/* .mainDivForm::before{
    content: "";
    z-index: -1;
    position: inherit;
    left: inherit;
    top: inherit;
    width: inherit;
    height: inherit;
    background-image: inherit;
    background-size: cover;
    filter: blur(100px);

} */
/* .mainDivForm{
    background-image: url('../images/developer-background.jpg');
    text-align: center;
    position: absolute;
    width: 100vh;
    height: fit-content;
    /* background-size: 0 0; */
  
.commonInput{
    padding: 1rem;
    margin: 1.5rem;
    width: 30%;
    border: 3px solid black;
    border-radius: 2rem;

}
.btnSubmit{
    padding: 1rem;
    margin: 1.5rem;
    width: 30%;
  
    background-color: white;
    border: 3px solid black;
    border-radius: 2rem;

}
.btnSubmit:hover{
    padding: 1rem;
    margin: 1.5rem;
    width: 30%;
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 2rem;

}
.commonInput:focus{
    outline: none;
}